/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2015, 10:01:34 AM
    Author     : christopherwaldon
*/
.site-subtitle {
	color: gray;
}

.undefined-warning {
    color: gray;
}

.main-nav {
	margin-top:1em;
	text-align: right;
}

.main-nav ul {
	list-style: none;
}

#top-search-bar {
    margin-top: 2em;
}

.subtle {
    text-align: right;
    opacity: 5;
}

*:hover > .subtle {
    opacity: .75;
}

*:hover + .subtle {
    opacity: .75;
}

.subtle:hover {
    opacity: 1.0;
}

li .subtle {
}

.subtle a {
    color: gray;
}

